body {
	font-family: monospace;
	font-size: 0.9em;
}

small {
	font-size: 0.8em;
	color: #999;
}

strong.more {
	font-size: 1.1em;
}

strong.moremore {
	font-size: 1.4em;
}

body > table {
	border-collapse: collapse;
	width: 750px;
}

body > table > thead > tr > th, body > table > tbody > tr > td {
	padding: 0.6em;
	text-align: center;
	vertical-align: middle;
}

body > table > thead > tr > th {
	border-bottom:  1px solid black;
}

ul#top_contrib > li.rank1 > span,
ul#top_contrib > li.rank2 > span,
ul#top_contrib > li.rank3 > span {
	display: inline-block;
}

table#top_contrib > tbody > tr.rank1 {
	background-color: #FFD700;
}

table#top_contrib > tbody > tr.rank2 {
	background-color: #E5E4E2;
}

table#top_contrib > tbody > tr.rank3 {
	background-color: #CD7F32;
}

div.errors > p {
	margin-top: 0;
	padding: 0.5em;
	width: 50em;
	border: 2px solid red;
	background-color: #FFCCCC;
}

div.announcements > p {
	margin-top: 0;
	padding: 0.5em;
	border: 2px solid #888800;
	background-color: #FFFF00;
}

div.graph {
	display: inline-block;
	margin-left: 1em;
}

a[onclick] {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}